body{
    margin: 0;
}
td{
    width: 50px;
    height: 50px;
    ;
}
.container{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}
.item{
    text-align: center;
}
#today{
    width: 150px;
}
#week{
    font-size: 30px;
}
#date{
    font-size: 70px;
}
.top-bar{
    display: inline;
}
.today-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.click-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
}
