@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

body{
	margin: 0;
}
#title{
	background-color: red;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 70px;
	height: 100px;
	border-bottom: 10px solid black;
}
#start-btn{
  appearance: none;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	width: 300px;
	height: 300px;
	margin: 70px auto 100px;
	font-size: 60px;
	border-radius: 150px;
	background-color: lightgray;
	box-shadow: 3px 3px 3px black;
	transition-duration: 0.3s;
}
#start-btn:active{
  box-shadow: none;
	margin-left: auto + 5px;
	margin-top: 75px;
}
#num_input{
	visibility: hidden;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	margin: 0px auto 50px;
	width: 300px;
	font-size: 110px;
	border: 10px solid black;
	border-radius: 20px;
}
#score-board{
	font-family: 'Nanum Brush Script', cursive;
	font-size: 55px;
	color: white;
	margin: 0px 0px 0px 50px;
	padding-top: 25px;
}
.container{
	display: flex;
	flex-direction: row;
}
.item-1{
	flex-basis: 50%;
}
.item-2{
	flex-basis: 50%;
	background-color: green;
	border: 20px solid #8B4513;
	margin-right: 50px;
}

